/* Splash Screen (Home Page) */
#splash-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background: url('../img/background.jpg') center/cover no-repeat;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 150px;
    height: auto;
    filter: drop-shadow(0px 0px 8px rgba(0, 119, 255, 0.5));
}

/* Blinking arrow below button */
.scroll-arrow {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%) rotate(225deg);
    width: 20px;
    height: 20px;
    border: solid 4px transparent;
    border-left: 4px solid #ff8800;
    border-top: 4px solid #ff8800;
    animation: blink-arrow 1.5s infinite ease-in-out;
    opacity: 0.5;
}