{% extends "base.html" %}

{% block content %}

<!-- This is how to write a comment that won't appear on the webpage (only visible in source code) -->

<!-- This is HTML code, and all code is wrapped in tags (" <p>...text...here...</p> "). -->
<section class="balances-section">
    <h1>Main Heading</h1>
    <h2>Subheading Level 2</h2>
    <h3>Subheading Level 3</h3>

    <p>This is a paragraph with some <strong>bold text</strong>, some <em>italic text</em>, and even <u>underlined text</u>.</p>

    <p>Here's a link to <a href="https://www.eveonline.com">EVE Online</a> using the "a" anchor tags.</p>

    <hr>
    
</section>


<section class="balances-section">
    <p>another section</p>
</section>

{% endblock %}
