<!DOCTYPE html>
<html lang="en">
<head>
    <title>SLMC</title>

    <!-- Meta's -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="JBratvold" />
    <meta name="description" content="Official corporation website." />
    <meta property="og:title" content="Sacred Legend Mining Corporation" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Official corporation website." />
    <meta property="og:image" content="https://slmc.onrender.com/static/img/logo.png" />
    <meta property="og:url" content="https://slmc.onrender.com/" />
    <meta property="og:site_name" content="traffic-controller.onrender.com" />

    <!-- TWITTER META'S -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="traffic-controller.onrender.com">
    <meta property="twitter:url" content="https://slmc.onrender.com/">
    <meta name="twitter:title" content="Sacred Legend Mining Corporation">
    <meta name="twitter:description" content="Official corporation website.">
    <meta name="twitter:image" content="https://slmc.onrender.com/static/img/logo.png">
  

    <!-- My Links -->
    <link rel="icon" type="image/png" href="static/img/logo.png"/>
    <link rel="stylesheet" href="static/css/general.css"/>
    
  <style>
    
  </style>
</head>
<body>
  <h1>Ship Cost Calculator</h1>

  <form method="POST">
      <label for="ship">Select Ship:</label>
      <select id="ship" name="ship">
          {% for ship in ships %}
              <option value="{{ ship }}">{{ ship }}</option>
          {% endfor %}
      </select>
      <br>

      <label for="lp_to_isk_ratio">Enter LP to ISK Conversion Rate (ISK per LP):</label>
      <input type="number" id="lp_to_isk_ratio" name="lp_to_isk_ratio" value="1000" required>
      <br>

      <button type="submit">Calculate</button>
  </form>
</body>
</html>
